* {
    font-family: monospace;
}

header {
    background-color: darkgray;
    text-align: center;
    font-size: xx-large;
}

body {
    margin: 0;
    align-items: center;
}

#progress {
    margin-top: 1vh;
    padding: 20px;
    border: 3px solid rgb(28, 181, 219);
    align-items: center;
    text-align: center;
    font-size: large;
}

select {
    width: 50px;
    height: 30px;
}

#player-names {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vh;
    padding: 2vh;
}

#inputbox1 #inputbox2 {
    margin: 1vh;
    padding: 3px;
    text-align: center;
    width: 30vw;
}

#inputbox1 {
    margin: 1vh;
}

#submitNames {
    margin-top: 10px;
}

#reset {
    margin-top: 10px;
}

.gameBoard {
    margin-top: 10vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 35px;
}

footer img {
    height: 5vh;
}

footer {
    position: fixed;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: x-large;
    bottom: 0;
    left: 0;
    right: 0;
}

.gameBoard :nth-child(1),
.gameBoard :nth-child(2),
.gameBoard :nth-child(3) {
    border-bottom: 2px solid black;
}

.gameBoard :nth-child(1),
.gameBoard :nth-child(4),
.gameBoard :nth-child(7) {
    border-right: 2px solid black;
}

.gameBoard :nth-child(3),
.gameBoard :nth-child(6),
.gameBoard :nth-child(9) {
    border-left: 2px solid black;
}

.gameBoard :nth-child(7),
.gameBoard :nth-child(8),
.gameBoard :nth-child(9) {
    border-top: 2px solid black;
}
